wsdl/PSSCOrderEntry.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PSSCOrderEntryRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OperationType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Payload"  type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TimeStamp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PSSCOrderEntryRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PSSCOrderEntryRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PSSCOrderEntryRequestSoapIn">
    <wsdl:part name="parameters" element="tns:PSSCOrderEntryRequest" />
  </wsdl:message>
  <wsdl:message name="PSSCOrderEntryRequestSoapOut">
    <wsdl:part name="parameters" element="tns:PSSCOrderEntryRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="PSSCOrderEntryServiceSoap">
    <wsdl:operation name="PSSCOrderEntryRequest">
      <wsdl:input message="tns:PSSCOrderEntryRequestSoapIn" />
      <wsdl:output message="tns:PSSCOrderEntryRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PSSCOrderEntryServiceSoap" type="tns:PSSCOrderEntryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="PSSCOrderEntryRequest">
      <soap:operation soapAction="http://tempuri.org/PSSCOrderEntryRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PSSCOrderEntryService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="PSSCOrderEntryServiceSoap" binding="tns:PSSCOrderEntryServiceSoap">
      <soap:address location="http://localhost/PSSCHorderEntry/PSSCOrderEntryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
